
:root {
  /* Define your brand colors here */
  --primary-bg: #515dd3;      /* Purple background */
  --accent-color: #f25a17;    /* Orange for logos/lines */
  --text-main: #ffffff;       /* White text */
  
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
